.buildpath
.directory
.idea
log
.metadata
.project
.settings
.DS_Store?
nbproject

/composer
**/composer.phar
**/composer.lock
**/web.config
**/configuration.*
**/local.*
**/*.details*
**/*.local.*
**/*.log
**/*.bz?
**/*.flag
**/*.gz
**/*.sql
**/*.sqlite
**/*.tar
**/*.zip
**/*_aside

!**/*.dist
!**/*.model
!**/*.template
